<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:replace="../templates/header" :: header></div>
    <div class="d-flex justify-content-center mt-5 pt-5">
      <div class="card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Thank you for your order!</h4>
            <p class="card-text">We hope you enjoy your purchase. Leave us a review on flashback and get 30% off your next order.</p>
            <a href="/">
              <button style="width: 100%" type="button" class="btn btn-primary">Grupp 4 E-handel</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
