<!DOCTYPE html>

<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Products</title>
  </head>

  <body>
    <div th:replace="../templates/header" : header></div>
    <div th:replace="../templates/homepage"></div>
    <!-- <a href="new">Create new product</a> -->
<!-- 
    <br /><br />
    <table border="1" cellpadding="10">
      <thead>
        <tr>
          <th>productCode ID</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Made in</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="product : ${products}">
          <td th:text="${product.productcode}">productCode</td>
          <td th:text="${product.productname}">productName</td>
          <td th:text="${product.productline}">productLine</td>
          <td th:text="${product.productvendor}">productVendor</td>
          <td th:text="${product.buyprice}">buyPrice</td>
          <td>
            <a th:href="@{'/edit/' + ${product.productcode}}">Edit </a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${product.productcode}}">Delete </a>
          </td>
        </tr>
      </tbody>
    </table> -->
    <div th:replace="../templates/footer"></div>
  </body>
</html>
