<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form th:action="@{/}" th:object="${customer}" method="post" class="form">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Full Name" required />
        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
      </div>
      <input type="submit" value="Submit" class="btn">
    </form>
  </body>
</html>
